name: Build Android App
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      
      - name: Get Dependencies
        run: flutter pub get
        
      - name: Build APK (Debug)
        # We build debug because it doesn't require a special password/key
        run: flutter build apk --debug
        
      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: NeruMusic-APK
          path: build/app/outputs/flutter-apk/app-debug.apk
          
